@{
    ViewData["Title"] = "Politika Privatnosti";
}
<h1 class="text-center mt-4 mb-5">@ViewData["Title"]</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="lead">Dobrodošli na stranicu za politiku privatnosti web stranice "Prodaja Automobila". Vaša privatnost nam je prioritet, i ovdje možete saznati kako se brinemo o vašim podacima.</p>

            <h4 class="mt-4">Zaštita Vaših Podataka</h4>
            <p>Svi podaci koje unesete na našu web stranicu tretiraju se s najvećom pažnjom i povjerljivošću. Koristimo ih isključivo za poboljšanje vašeg korisničkog iskustva i osiguravanje optimalne funkcionalnosti web stranice.</p>

            <h4 class="mt-4">Povjerljivost</h4>
            <p>Vaši lični podaci nikada neće biti dostupni neovlaštenim osobama. Poduzimamo sve potrebne mjere da zaštitimo vaše podatke od neovlaštenog pristupa i zloupotrebe.</p>

            <h4 class="mt-4">Ažuriranja Politike Privatnosti</h4>
            <p>Ova politika privatnosti može biti ažurirana s vremena na vrijeme. Preporučujemo da povremeno provjeravate ovu stranicu kako biste bili informisani o svim promjenama.</p>

            <p class="mt-5">Hvala vam što nam vjerujete i što ste odabrali web stranicu "Prodaja Automobila". Vaša sigurnost i privatnost su nam od najveće važnosti.</p>
        </div>
    </div>
</div>
